/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
.roboto {
  font-family: Roboto;
}
.p20 {
  font-size: 20px;
}
.p23 {
  font-size: 23px;
}
body {
  padding-top: 56px;
  font-family: Roboto;
}
.btn-main {
  background-color: #ef7f1a;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  border-radius: 100px;
  width: 320px;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  padding: 20px 0;
  border: 0;
  color: white;
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/*mine*/
.main h2 {
  margin-bottom: 27px;
}
.main h3 {
  margin-bottom: 37px;
  font-size: 20px;
  letter-spacing: 1.2px;
}
.main .request {
  margin-top: 133px;
}
.modal-name {
  width: 300px;
  height: 33px;
  border: 1px solid #ef7f1a;
  border-radius: 100px;
}
.main {
  background-image:url("../img/bg_main.png");
  background-position: center;
  background-size: cover;
}
.main .btn-main {
  color: white;
  font-size: 15px;
  padding: 8px 0;
  width: 300px;
}
.main p {
  font-size: 20px;
}

.orange-lines {
  border-left: 4px solid #ef7f1a;
  border-right: 4px solid #ef7f1a;
}
.empty-1 {
  height: 82px;
}
.empty-2 {
  height: 73px;

}
/*pulver*/
.bg-image {
  width: 100%;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pulver-about{
  background-image: url("../img/pulver-main.png");
}
.pulver-cert {
  background-image: url("../img/pulver-cert.png");
}
.pulver-catalog {
  background-image: url("../img/pulver-catalog.png");

}
.list-group {
  font-size: 20px;
}
.list-group a {
  border: none;
}
.bottom-contact {
  margin-top: 360px;
}

/*certificates*/
#carouselExampleControls {
  margin-left: 50px;
  margin-right: 50px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 75px;
  color: #ef7f1a;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 75px;
  color: #ef7f1a;
}
.certificates img {
  max-height: 95%;
  border: 1px solid black;
}
/*catalogpulver*/



/*huyndaiabout*/
.btn-huyndai {
  background-color: #ef7f1a;
  font-size: 14px;
  line-height: 1;
  border-radius: 100px;
  width: 160px;
  cursor: pointer;
  outline: none !important;
  padding: 13px 0;
  border: 0;
  color: white;
}
/*huyndaicatalog*/
.h-catalog {
  background-image: url("../img/hyundai.png");
}
.swiper-container {
  width: 100%;
  height: 100%!important;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 25% !important;
  width: 100%;
}
.gallery-thumbs {
  height: 50%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  height: 70px!important;
  width: 70px;
}

/*contact*/
.contact {
  background-image: url("../img/bg-contact.png");
}
.bg-contact {
  background-image: url("../img/bg_contacts.png");
  background-size: cover;
  background-position: center;
  padding: 86px 0 69px 0;
}
.bg-contact button {
  margin-top: 88px;
}

/*modal*/
.modal-body .btn-main {
  padding: 10px 0;
  font-size: 15px;
  width: 300px;
}
.modal-body {
 background-image:url("../img/bg_main.png") ;
}

/*navbar*/
.nav-link:hover, .nav-link:focus .nav-link:active {
  text-decoration: underline;
  text-decoration-color:  #ef7f1a;

}
.navbar .btn-main {
  font-size: 16px;
  width: 177px;
  padding: 12px 0;
}

.navbar .dropdown-menu-right .dropdown-item:hover {
  text-decoration: underline;
  text-decoration-color: #ef7f1a;
}
.dropdown-menu-right .dropdown-item:active {
  background: none;
  color: black;
}

a:hover {
  text-decoration-color:#ef7f1a ;
}
.btn-index {
  -webkit-transform: translateY(-27px);
  -moz-transform: translateY(-27px);
  -ms-transform: translateY(-27px);
  -o-transform: translateY(-27px);
  transform: translateY(-27px);
}
.video-bg {
  filter:brightness(130%);
}


/*MOBILE*/
@media (max-width: 768px) {
  .main-mobile {
    margin-top: 150px;
  }
  .navbar-toggler-right {
    background-color: #ef7f1a;
    font-size: 8px;
  }
  .btn-main {
    font-size: 15px;
    width: 185px;
    padding: 10px 0;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
  }
  .main h2 {
    margin-bottom: 38px;
  }
  .main .request {
    margin-top: 69px;
  }
  .main p {
    font-size: 14px;
  }
  .bg-image {
    height: 130px;
  }
  .bottom-contact {
    margin-top: 90px;
  }
  .bottom-contact, .bottom p {
    font-size: 14px;
  }
  .certificates img {
    height: auto;
    width: 90%;
  }
  .carousel-control-next {
    top: -67px;
    right: -50px;
  }
  .carousel-control-prev {
    margin-left: -45px;
    top: -67px;
    left: 0;
  }
  .carousel-control-next-icon:after, .carousel-control-prev-icon:after {
    font-size: 55px;
  }
  .logo-img {
    width: 200px;
  }
  .gallery-thumbs .swiper-slide {
    height: 33px!important;
  }
  .bg-contact p {
    font-size: 14px;
  }
  .bg-contact button {
    margin-top: 12px;
  }
  .bg-contact {
    padding-bottom: 293px;
    padding-top: 200px;
  }
  .navbar-toggler-icon {
    font-size: 11px;
    margin: 3px 11px 0 0;
  }
  .swiper-container-2 {
    height: 232px;
  }
}